<ion-view title="BioFlash" id="page7">
  <ion-content padding="true" style="background: url(img/yEDNINeJTTW3EVsMgtZh_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="bioFlash-button-bar1" class="button-bar">
      <a ui-sref="cadastro()" id="bioFlash-button11" style="font-weight:500;text-align:left;" class="button button-balanced button-large button-block icon-left ion-android-contact">Cadastro</a>
      <a ui-sref="contato()" id="bioFlash-button13" style="font-weight:500;" class="button button-calm button-block icon-left ion-ios-telephone">Contato</a>
    </div>
    <div id="bioFlash-button-bar2" class="button-bar">
      <a ui-sref="exames()" id="bioFlash-button16" style="font-weight:500;text-align:left;" class="button button-royal button-large button-block icon-left ion-ios-information-outline">Exames</a>
      <a ui-sref="mural()" id="bioFlash-button17" style="font-weight:500;" class="button button-energized button-block icon-left ion-social-buffer">Mural</a>
    </div>
    <a ui-sref="solicitarColeta()" id="bioFlash-button12" style="font-weight:500;" class="button button-positive button-block icon-left ion-medkit">Solicitar Coleta</a>
    <a ui-sref="pagamentos()" id="bioFlash-button14" style="font-weight:500;" class="button button-assertive button-block icon-left ion-cash">Formas da Pagamento</a>
  </ion-content>
</ion-view>