<ion-view title="Cadastro" id="page8">
  <ion-content padding="true" style="background: url(img/0sMo7DkPSzCTapmNZniy_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="cadastro-heading7" style="color:#000000;text-align:center;">Dados Pessoais</h3>
    <form id="cadastro-form9" class="list">
      <label class="item item-input" id="cadastro-input9">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input10">
        <span class="input-label">Telefone</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input11">
        <span class="input-label">CPF</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input12">
        <span class="input-label">RG</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input13">
        <span class="input-label">Orgão Expedidor</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input14">
        <span class="input-label">UF</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <h3 id="cadastro-heading8" style="color:#000000;text-align:center;">Endereço</h3>
      <label class="item item-input" id="cadastro-input15">
        <span class="input-label">Rua</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input16">
        <span class="input-label">Bairro</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input17">
        <span class="input-label">Numero</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input18">
        <span class="input-label">Cidade</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cadastro-input19">
        <span class="input-label">CEP</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="bioFlash()" id="cadastro-button24" class="button button-balanced button-block icon-left ion-android-done">Salvar</a>
  </ion-content>
</ion-view>