<ion-view title="Contato" id="page9">
  <ion-content padding="true" style="background: url(img/0sMo7DkPSzCTapmNZniy_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="contato-heading9" style="color:#C80ACF;text-align:center;">A Empresa</h3>
    <div id="contato-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#C80ACF;">Site
        <strong>http://BioFlash.org</strong>
      </p>

      <p style="color:#C80ACF;">E-mail
        <strong>BioFlash@gmail.com</strong>
      </p>

      <p style="color:#C80ACF;">Rua C,Q10,Casa 16, Bairro Dom Orlando Chaves, Várzea Grande</p>

      <p style="color:#C80ACF;">Telefone: (65)3643-3582</p>

      <p style="color:#C80ACF;">Empresa Terceirizada conveniada com laboratórios de Cuiabá e região, prestando serviços de coleta domiciliar</p>
    </div>
  </ion-content>
</ion-view>