<ion-view title="Exame Urina" id="page10">
  <ion-content padding="true" style="background: url(img/lH93CNUFRk67azRUygtB_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="exameUrina-heading10" style="color:#C80ACF;">Exame de urina - Para que serve </h3>
    <div id="exameUrina-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#C80ACF;">O exame de urina serve para diagnosticar problemas que afetam o sistema renal e urinário, e existem três tipos de exames de urina: exame de urina tipo 1, exame de urina de 24 horas e exame de urocultura, que geralmente são realizados num laboratório
        de análises clínicas e nenhum deles necessita de jejum.</p>
    </div>
  </ion-content>
</ion-view>