<ion-view title="Exame Fezes" id="page14">
  <ion-content padding="true" style="background: url(img/lH93CNUFRk67azRUygtB_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="exameFezes-heading16" style="color:#C80ACF;">Principais tipos de exame de fezes</h3>
    <div id="exameFezes-markdown21" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#C80ACF;">Os principais tipos são:</p>

      <p style="color:#C80ACF;">1 - Exame de fezes parasitológico: Serve para pesquisa de parasitas e protozoários, sendo útil para identificar vermes intestinais. Neste caso não se pode usar laxantes ou supositório antes de coletar as fezes, e o recipiente deve ser mantido na
        geladeira. Se você suspeita de que está com verme, confira os Sintomas de vermes.</p>

      <p style="color:#C80ACF;">2- Exames de fezes Coprocultura: As fezes devem ser colocadas num recipiente adequado e enviada ao laboratório em até 24 horas, o paciente não usar laxantes e recipiente com as fezes deverá ser mantido na geladeira;</p>

      <p style="color:#C80ACF;">3 - Pesquisa de Sangue Oculto: As fezes devem ser enviadas ao laboratório no máximo até o dia seguinte sendo mantido na geladeira. Evitar coletar as fezes em caso de sangramento anal, nasal ou sangramento da gengiva durante a escovação dos dentes;</p>

      <p style="color:#C80ACF;">4 - Pesquisa de Rota Vírus: As fezes, de preferência quando líquidas, devem ser coletadas a qualquer hora do dia e levadas ao laboratório em no máximo 1 hora.</p>
    </div>
  </ion-content>
</ion-view>