<ion-view title="Exames" id="page12">
  <ion-content padding="true" style="background: url(img/0sMo7DkPSzCTapmNZniy_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="exames-list10">
      <ion-item class="item-thumbnail-left" id="exames-list-item16" ui-sref="exameFezes()">
        <img src="img/WNfjAv3LSZUjupZ6SgaA_2017-09-0417_31_35-Roldadepresso.pptx-PowerPoint.png">
        <h2>EXAME DE FEZES</h2>
        <p style="white-space:normal;">Exame de Fezes Comun1. Utilizar o Recepiente forneceido pelo Laboratorio</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="exames-list9">
      <ion-item class="item-thumbnail-left" id="exames-list-item18" ui-sref="jEJUM()">
        <img src="img/D0kG7qPHRHagcwMHWOHI_2017-09-0417_29_25-Roldadepresso.pptx-PowerPoint.png">
        <h2>JEJUM</h2>
        <p style="white-space:normal;">Exames que necessitam de Jejum</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="exames-list11">
      <ion-item class="item-thumbnail-left" id="exames-list-item17" ui-sref="exameUrina()">
        <img src="img/lk52wNSXS3mu8y0wAwMr_2017-09-0417_33_01-Roldadepresso.pptx-PowerPoint.png">
        <h2>Exames de Urina</h2>
        <p style="white-space:normal;">Urina de Rotina, Urocultura e Gram de Gota</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>