<ion-view title="Informações do Sistema" id="page17">
  <ion-content padding="true" style="background: url(img/eTOSCDGQZeOILxLsedFQ_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="informaEsDoSistema-heading13" style="color:#000000;text-align:center;">Protótipo Desenvolvido por</h4>
    <div id="informaEsDoSistema-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Thiago Fernando Procorio</p>

      <p style="color:#000000;">C.S.T. em Análise e Desenvolvimento de Sistemas Univag
      </p>

      <p style="color:#000000;"> Contato: thiago.fernando@msn.com</p>
    </div>
  </ion-content>
</ion-view>