<ion-view title="JEJUM" id="page13">
  <ion-content padding="true" style="background: url(img/lH93CNUFRk67azRUygtB_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="jEJUM-markdown7" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#C80ACF;">Você sabia que a maioria das coletas para exames de sangue pode ser feita com três horas sem ingerir alimentos e, em alguns casos, até mesmo sem a necessidade de jejum? É uma boa notícia para quem quiser aproveitar para realizar procedimentos em
        horários alternativos, como no período do almoço ou no fim do dia.​</p>
    </div>
    <h4 id="jEJUM-heading14" style="color:#C80ACF;">Confira o tempo necessário de jejum para alguns exames:</h4>
    <div id="jEJUM-markdown16" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#C80ACF;">
        <strong>Glicose, plasma 8 horas</strong>
      </p>
    </div>
    <div id="jEJUM-markdown17" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#C80ACF;">
        <strong>Colesterol total e frações, soro 12 horas</strong>
      </p>
    </div>
    <div id="jEJUM-markdown18" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#C80ACF;">
        <strong>Coagulograma, sangue total (COAG) 3 horas</strong>*</p>
    </div>
  </ion-content>
</ion-view>