<ion-view title="Login" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/wg3ReZD6Q2aOJZDrYHpH_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="login-heading3" style="color:#000000;font-style:italic;text-align:center;">BioFlash</h3>
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="Informe seu E-mail">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Informe sua senha">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 29px;"></div>
      <a ui-sref="bioFlash()" id="login-button1" style="font-weight:500;" class="button button-royal button-block">Log in</a>
      <div class="spacer" style="width: 300px; height: 25px;"></div>
      <a ui-sref="signup()" id="login-button2" style="color:#180308;" class="button button-positive button-block button-clear">Criar Conta</a>
      <a ui-sref="page5()" id="login-button3" style="color:#180308;font-size:13px;" class="button button-energized button-block button-clear">Termos de Uso</a>
      <div style="margin-right:-20px;">
        <a ui-sref="informaEsDoSistema()" id="login-button10" style="left:-10px;" class="button button-positive button-full button-icon icon ion-android-alert"></a>
      </div>
    </form>
  </ion-content>
</ion-view>