<ion-view title="Mural" id="page11">
  <ion-content padding="true" style="background: url(img/0sMo7DkPSzCTapmNZniy_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="mural-heading12" style="color:#000000;text-align:justify;">Tubos de Coleta para Exames Laboratoriais</h4>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/uIOqszp4Z08?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="mural-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>