<ion-view title="Pagamentos" id="page16">
  <ion-content padding="true" style="background: url(img/0sMo7DkPSzCTapmNZniy_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="pagamentos-heading15" style="color:#000000;text-align:center;">Formas de Pagamento</h3>
    <form id="pagamentos-form12" class="list">
      <ion-toggle toggle-class="toggle-positive" id="pagamentos-toggle1">Dinheiro</ion-toggle>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="pagamentos-toggle2">Cartão</ion-toggle>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="pagamentos-toggle3">Cheque</ion-toggle>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="pagamentos-toggle4">Outros</ion-toggle>
    </form>
    <a ui-sref="bioFlash()" id="pagamentos-button9" class="button button-balanced button-block icon-left ion-android-done">Salvar</a>
  </ion-content>
</ion-view>