<ion-view title="" id="page4">
  <ion-content padding="true" style="background: url(img/fY8XJCmqR2GStF0LPR2V_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 88px;"></div>
    <h2 id="page4-heading4" style="color:#C80ACF;font-style:italic;text-align:center;">BioFlash</h2>
    <div class="spacer" style="width: 300px; height: 95px;"></div>
    <a ui-sref="login()" id="page4-button6" style="font-weight:500;" class="button button-royal button-block">Log in</a>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <a ui-sref="signup()" id="page4-button7" style="font-weight:500;" class="button button-royal button-block">Cadastrar-se</a>
    <div style="margin-right:-20px;">
      <a ui-sref="informaEsDoSistema()" id="page4-button19" style="left:-10px;" class="button button-positive button-full button-icon icon ion-android-alert"></a>
    </div>
  </ion-content>
</ion-view>