<ion-view title="" id="page5">
  <ion-content padding="true" style="background: url(img/bm1LLoZmQm6c6L66iI2u_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page5-heading6" style="color:#C80ACF;text-align:center;">Termos de Uso</h1>
    <div id="page5-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#C80ACF;">Essa é nossa Política de Privacidade. Antes de entrar nos detalhes, gostaríamos de esclarecer alguns dos princípios fundamentais por trás dela. Esses princípios são importantes para nós porque sabemos que eles são importantes para você.</p>

      <p style="color:#C80ACF;">A Política de Privacidade está aqui para fazer três coisas:</p>

      <p style="color:#C80ACF;">Explicar o modo como usamos as informações que você compartilha conosco a fim de construirmos um grande produto e dar a você uma grande experiência com isso; Garantir que você compreenda que informações coletamos com sua permissão e o que fazemos
        – e não fazemos – com elas; Tornar-nos responsáveis por proteger seus direitos e sua privacidade sob esta política.</p>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="informaEsDoSistema()" id="page5-button18" style="left:-10px;" class="button button-positive button-full button-icon icon ion-android-alert"></a>
    </div>
  </ion-content>
</ion-view>