<ion-view title="Signup" id="page3">
  <ion-content padding="true" style="background: url(img/CrFhhtrhQ5aEKnytj5DA_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="signup-heading2" style="color:#000000;font-style:italic;text-align:center;">BioFlash</h3>
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Telefone</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="login()" id="signup-button4" class="button button-balanced button-block">Cadastrar</a>
    </form>
    <a ui-sref="page5()" id="signup-button5" style="color:#180308;font-size:13px;" class="button button-energized button-block button-clear">Termos de Uso</a>
    <div style="margin-right:-20px;">
      <a ui-sref="informaEsDoSistema()" id="signup-button15" style="left:-10px;" class="button button-positive button-full button-icon icon ion-android-alert"></a>
    </div>
  </ion-content>
</ion-view>