<ion-view title="Solicitar Coleta" id="page15">
  <ion-content padding="true" style="background: url(img/0sMo7DkPSzCTapmNZniy_baner-coleta-de-sangue.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="solicitarColeta-heading11" style="color:#000000;text-align:center;">Dados da Coleta</h3>
    <form id="solicitarColeta-form10" class="list">
      <label class="item item-input" id="solicitarColeta-input20">
        <span class="input-label">Localização</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="solicitarColeta-input21">
        <span class="input-label">Laboratorio</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="solicitarColeta-input22">
        <span class="input-label">Exames</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
    </form>
    <a ui-sref="bioFlash()" id="solicitarColeta-button8" class="button button-balanced button-block icon-left ion-android-done">Salvar</a>
  </ion-content>
</ion-view>